@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --main-color: #12f7d6;
    --dark-color: #292f36;
    --electric-blue: #0078FF;
    --neon-purple: #A020F0;
    --slate-gray: #2F4F4F;
    --white-color: #FFFFFF;
    --dark-c: #1A1A1A;
    --soft-gray: #F5F5F5;
    --white-smoke: #F8F8F8;
    --deep-orange: #FF4500;
    --bright-yellow: #FFD700;
}

* {
    color: inherit;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Red Hat Display", sans-serif;
    background-color: var(--dark-c);
    background-image: url('../assets/FC25_Base.png');
    height: 100%;
    padding: 4% 6%;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    color: var(--neon-purple);
    margin-bottom: 60px;
    font-size: 50px;
    color: white
}

.main-button,
.secondary-button {
    background-color: var(--neon-purple);
    border: 0.5px solid var(--neon-purple);
    border-radius: 5px;
    min-width: fit-content;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: var(--white-color);
    cursor: pointer;
}

.secondary-button {
    background-color: var(--deep-orange);
    border-color: var(--deep-orange);
}


.main-button:hover,
.secondary-button:hover {
    border-color: var(--bright-yellow)
}


.table {
    width: 100%;
    color: white;
}

.table thead {
    height: 60px;
    background-color: #292f36;
    color: #12f74f;
    text-transform: uppercase;
    border-top: 2px solid rgb(248, 236, 236);
    border-bottom: 2px solid black;
}

.table thead tr th {
    text-align: center;
    min-width: 90px;
    padding: 0px 20px;
}

.table tbody tr td {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; */
    background-color: red;
    text-align: center;
    padding: 0 10px;
}

/* ///////////////////////////////////////////// */
.player-image {
    width: 50px;
}